body{
  margin: 0;
}
.parent {
  height:300px;
  background-color: blue;
}
.parent::before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}
.child1 {
  background-color: red;
  display: inline-block;
  vertical-align: top;
}
.child2 {
  background-color: yellow;
  display: inline-block;
  vertical-align: middle;
}